/* Global */
img {
    height: auto;
    max-width: 100%;
}

article {
    background-color: #eaeaea;
    height: 100vh;
}

/* Top Bar */

.hamburger {
    float: left;
}

#app-title-bar {
    text-align: center;
    background-color: #000;
    color: #eaeaea;
}

    #app-title-bar .title {
        font-size: 22px;
        text-transform: uppercase;
    }

/* Side Panel */

#menuPanel {
    background-color: #fff;
    padding: 10px;
    z-index: 3;
}

#menuPanel .k-widget.k-datepicker.k-header {
    width: 100%;
}

/* Side Panel - Employee List */

#employee-list > h3 {
    color: #0072c6;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}

#employee-list > ul {
    border: 0;
    box-shadow: none;
    margin: 0 -10px;
    padding: 0;
    list-style: none;
}

#employee-list img {
    border: 1px solid #333;
    max-width: 30px;
}

#employee-list a {
    padding: 5px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

    #employee-list a:hover {
        background-color: #dfedfa;
        text-decoration: none;
    }

/* App */
#employee-details {
    padding-top: 20px;
}

#employee-about img {
    vertical-align: bottom;
}



/* Small Devices, Tablets, and Up */
@media only screen and (min-width : 768px) {
    #app-title-bar .title {
        text-align: left;
    }

    #main-section-content {
        margin-left: 320px;
    }

    .app-wraper {
        position: relative;
        margin-left: -15px;
    }
}
