.dash-head {
    float: left;
    margin-top: 14px;
}

article {
    background-color: #eaeaea;
    height: 100vh;
}

#main-section-header {
    background-color: #000;
    color: white;
}

    #main-section-header h1 {
        font-size: 22px;
        text-transform: uppercase;
        padding-left: 1.667em;
        white-space: nowrap;
        padding: 0;
        margin: 0;
    }

#employeeList {
    background-color: #fff;
    padding: 10px;
    z-index: 3;
}

#employee-details {
    padding-top: 20px;
}

#employee-about img {
    vertical-align: bottom;
}

#employee-list > h3 {
    color: #0072c6;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}

#employee-list > ul {
    border: 0;
    box-shadow: none;
    margin: 0 -10px;
    padding: 0;
    list-style: none;
}

#employee-list img {
    border: 1px solid #333;
    max-width: 30px;
}

#employee-list a {
    padding: 5px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

    #employee-list a:hover {
        background-color: #dfedfa;
        text-decoration: none;
    }

#main-section-header h1, #dateFilter {
    padding: 15px;
    text-align: center;
    display: block;
}

img {
    height: auto;
    max-width: 100%;
}

.k-widget.k-datepicker.k-header {
    Width:100%;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 768px) {
    #main-section-header h1 {
        text-align: left;
    }

    #dateFilter {
        text-align: right;
    }

    .app-wraper {
        position: relative;
        margin-left: -15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #main-section-content {
        margin-left: 320px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
