/* Global */
img {
    height: auto;
    max-width: 100%;
}

article {
    background-color: #F5F6F6;
    height: 100vh;
}

/* Top Bar */

.hamburger {
    float: left;
}

#app-title-bar {
    text-align: center;
    background-color: #00ACC1;
    color: #fff;
}

    #app-title-bar .title {
        font-size: 22px;
        text-transform: uppercase;
    }

/* Side Panel */

#menuPanel {
    background-color: #fff;
    padding: 10px;
    z-index: 3;
}

#menuPanel .k-widget.k-datepicker.k-header {
    width: 100%;
}

/* Side Panel - Employee List */

#menuPanel h3 {
    color: #ff4350;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 30px 0 10px -10px;
    padding: 10px;
    border-left: 5px solid;
}

#employee-list > ul {
    border: 0;
    box-shadow: none;
    margin: 0 -10px;
    padding: 0;
    list-style: none;
}

#employee-list img, #employee-about img {
    border: 3px solid #00acc1;
    border-radius: 50%;
    margin-right:5px;
}

#employee-list img {
    border-width: 1px;
    max-width: 30px;
}


#employee-list a {
    padding: 5px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color:#00acc1;

}

    #employee-list a:hover {
        background-color: #F5F6F6;
        text-decoration: none;
    }

/* App */
#employee-details {
    padding-top: 20px;
}

#employee-about {
    font-size: 18px;
    text-align: center;
}

#main-section-content > article {
    padding-top:20px;
}

.chart-wrap {
    text-align: right;
    background-color:#fff;
    padding: 10px 10px;
    border: 1px solid #E0E0E0;
    margin-top:10px;
}

.chart-title {
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    color: #9DA2A4;
}

.sales-report-value {
    text-transform: uppercase;
    font-size: 28px;
}

/* Small Devices, Tablets, and Up */
@media only screen and (min-width : 768px) {
    #employee-about {
        text-align: left;
    }
    #app-title-bar .title {
        text-align: left;
    }

    #main-section-content {
        margin-left: 320px;
    }

    .app-wraper {
        position: relative;
        margin-left: -15px;
    }
}
